{{#if isDefined }}
	<div class="form-group align-self-center mt-4">
			{{#each errors}}
			<div class="alert alert-danger" role="alert">
				{{this.msg}}
			</div>
			{{/each}}
		</ul>
	</div>
{{/if}}


{{#if success_msg }}
	<div class="form-group align-self-center mt-4">
			<div class="alert alert-success" role="alert">
				{{success_msg}}
			</div>
		</ul>
	</div>
{{/if}}

{{#if error_msg }}
	<div class="form-group align-self-center mt-4">
			<div class="alert alert-danger" role="alert">
				{{error_msg}}
			</div>
		</ul>
	</div>
{{/if}}

{{#if error }}
	<div class="form-group align-self-center mt-4">
			<div class="alert alert-danger" role="alert">
				{{error}}
			</div>
		</ul>
	</div>
{{/if}}
